body {
    color: #F3F3F3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

a {
    color: #e1524b;
    text-decoration: underline;
}

h2 {
    color: #e1524b;
    font-size: 28px;
    margin: 0;
}

h3 {
    text-transform: uppercase;
}

#header {
    color: #fff;
    padding: 25px 0;
    background: #76c7c0 url("../images/header-pattern.png") repeat-x left bottom;
}

#footer {
    color: #fff;
    background-color: #76c7c0;
    padding: 50px 0;
}

#second-footer {
    background-color: #6ab3ac;
    color: #fff;
    padding: 20px 0;
}

#no-margin-left{
    margin-left: 0;
}

.slider {
    background-color: #7F8C8C;
    padding: 200px 0;
}

.slider-heading {
    width: 380px;
    margin: 0 auto;
    background-color: #E2534B;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
}

.sl-head {
    margin: 0;
    color: #fff;
    font-size: 3.0em;
    font-weight: 900;
    line-height: 1.0em;
}

.slider-subheading {
    width: 500px;
    margin: 10px auto;
    background-color: #3F4646;
    border-radius: 8px;
    text-align: center;
}

.sl-subhead {
    color: #fff;
    font-size: 1.1em;
    padding: 10px 25px;
    line-height: 1.5em;
}

.slider-bullits {
    width: 210px;
    margin: 25px auto;
    overflow: hidden;
}

.bullit {
    background-color: #B0B8B9;
    width: 50px;
    height: 5px;
    float: left;
    margin: 0 10px;
    cursor: pointer;
}

.active {
    background-color: #E2534B;
}


.bullit:hover {
    background-color: #E2534B;
}

.alert {
    background-color: #ECECEC;
    border-radius: 8px;
    overflow: hidden;
    padding: 25px;
}

.alert-text {
    float: left;
    color: #7F8C8C;
}

.alert-heading {
    font-size: 1.5em;
}

.alert-button {
    float: right;
}

.button {
    border-radius: 5px;
    background: #cb4e4e;
    color: #FFF;
    box-shadow: 0 6px #ab3c3c;
    padding: 15px 25px;
    transition: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.button:hover {
    background: #cb5e5e;
    box-shadow: 0 2px #ab3c3c;
}

.default-btn {
    background-color: #75C8C0;
    box-shadow: 0 6px #5C9993;
}

.services {
    color: #7F8C8C;
    margin: 50px 0;
}

.service {
    float: left;
    margin-left: 30px;
    background-color: #F8F8F8;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.actv {
    background-color: #FFF;
}

.icon {
    text-align: center;
    color: #E2534B;
}

.read-more-btn {
    position: absolute;
    bottom: -20px;
    left: 75px;
}

.why-choose {
    background-color: #ECECEC;
    padding: 25px;
}

.block-content {
    text-align: center;
}

.subheading {
    color: #7F8C8C;
}

.clearfix {
    clear: both;
}

.copyright {
    float: left;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.social-links li {
    float: right;
    list-style: none;
    margin-right: 10px;
}

.social-links li a {
    background-image: url("../images/social-icons.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 23px;
    width: 30px;
}

.social-facebook {
    background-position: -120px 0;
}

.social-google {
    background-position: -37px 0;
}

.social-twitter {
    background-position: -88px 0;
}

.social-rss {
    background-position: 0 0;
}